
html {
    background-image: url("../images/jaritaikatausta.jpg");
}

body {
    
    background-size: cover;
    background-attachment: fixed;
    margin-left: auto;
    margin-right: auto;
    min-width: 90%;
    max-width: 95%;
    padding-top: 10px;
    
}




header {
    background-color:whitesmoke;
    height: auto;
    outline:none;
    text-align:center;
}

header img {
    
    width: 100%;
}

.main-nav {
    margin-top: 5px;
    margin-bottom:5px;
    
    
}
#header    {
    overflow:hidden;
}

nav {
    
    height: auto;
    text-align:center;
    background-color:whitesmoke;
    
    font-size: 8px;
}

nav a {
    text-decoration:none;
    color: white;
    font-family: 'Fjalla One', sans-serif;
    padding: 12px 10px;
    height:30px;
    /*width:120px;*/
    display:inline-block;
}

nav a:hover {
    transition: 0.5s;
    color:white;
    background-color: green;
}

.active {
    background-color: black;
    color:white;
    cursor: pointer;
} 

.contentbox {
    padding-top: 13px;
    color: black;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    background-color: whitesmoke;
    
    outline:none;
    width: 100%;
    border-bottom:solid gray 1px;
}

.subtitle {
    text-align: center;
    padding: 14px 16px;
    margin-bottom: 10px;
    outline:none;
    font-size: 15px;
}

.main-nav {
    background-color: green;
}


.content {
    text-align: left;
    padding: 14px 16px;
}
.post {
    margin: auto;
    display: inline-block;
}

#content-right {
    color: black;
    font-family: 'Fjalla One', sans-serif;
    float: right;
    text-align: left;
    width: 50%;
}

#content-left {
    color: black;
    font-family: 'Fjalla One', sans-serif;
    float: left;
    text-align: left;
    width: 50%;
}

.backtotop {
    margin:0 auto;
    text-align:center;
    font-size: 10px;
    padding:10px;
    
    
}


.backtotop a {
    color: white;
    background-color: green;
    font-family: 'Fjalla One', sans-serif;
    padding: 5px 16px;
    text-decoration: none;
    margin:0 auto;
}

#tiedot1, #tiedot2, #tiedot3, #tiedot4 {
    width: 95%;
    display:none;
    padding-top:10px;
    text-align:center;
    }

.footer {
    background-color: whitesmoke;
    
}

.footer p {
    color: black;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}
.sticky-nav-bar {
    background: black none repeat scroll 0 0;
    left: 0;
    padding: 0 !important;
    position: fixed !important;
    top: 0;
    transition: all 500ms ease 0s;
    width: 100%;
    z-index: 9999;
    
    border: 1px solid grey;
  }
  
  .logo {
      text-align: center; 
  }
  
  .logo img {
      min-width: 80%;
      max-width: 95%;
      
  }
  
  #fb {
      text-align: center;
      padding-top:10px;
  }
  
  .contentbox {
      margin-top: 0px;
  }
  
  .gallery {
    max-width:100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

  .thumbnails img {
		height: 80px;
		border: 4px solid #555;
		padding: 1px;
		margin: 0 10px 10px 0;
	}

	.thumbnails img:hover {
		border: 4px solid #00ccff;
		cursor:pointer;
	}

	.preview img {
		border: 4px solid #444;
		padding: 1px;
		min-width: 90%;
		max-width: 90%;
	}
    
    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: green;
    }
 